.bodyAccordion {
   border-top: var(--borderGray);
}

.bodyAccordionItem {
   border-bottom: var(--borderGray);
}

.bodyAccordionControl {
   padding: 0px;
}
.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}