.bodyAccordionItem {
   border: none;
}

.bodyAccordionControl {
   padding: 0px;
   color: var(--colorBlack);
}
.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}

.bodyAccordionPanel {
   padding: 5px;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}