.bodyAccordionItem {
   border-bottom: var(--borderGray);
}

.bodyAccordionControl {
   padding: 0px;
   color: var(--colorBlack);
}
.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}

.bodyAccordionPanel {
   padding: 5px;
   margin: 0px 0px 5px 0px;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}