.buildCommandsRow {
   padding: 0px;
}

.buildTextarea {
   margin: 0px;
   padding: 0px;
}

.buildControlsRow {
   margin-bottom: -10px;
   padding: 5px 0px 0px 0px;
}

/* May be elaborated upon later */
.buildCol {
   padding: 0px;
}