/* .runOutputRow {
   margin: 0px;
   background-color: red;

   padding: 10px;
   min-height: 250px;
   max-height: 500px;
   overflow-y: scroll;
   border: var(--borderGray);
   background-color: white;
   border-radius: var(--borderRadius);
} */

.runOutputStack {
   min-height: 250px;
   max-height: 450px;
   border: var(--borderGray);
   background-color: white;
   margin: 0px -10px 0px -10px;
   border-radius: var(--borderRadius);
}

.runControlsRow {
   margin-bottom: -10px;
   padding: 5px 0px 0px 0px;
}

.runContinueButton {
   margin-left: 5px;
}