.runStepsRow {
   padding: 10px;
   min-height: 250px;
   max-height: 500px;
   overflow-y: scroll;
   border: var(--borderGray);
   background-color: white;
   border-radius: var(--borderRadius);
}

.runControlsRow {
   margin-bottom: -10px;
   padding: 5px 0px 0px 0px;
}

.runContinueButton {
   margin-left: 5px;
}