:root {

   --colorGray: #ccc;
   --colorBlack: #4A495A;
   --colorWhite: #F7F5F1;

   --colorGreen: rgba(80, 123, 88, 0.75);
   --colorRed: rgba(171, 49, 49, 0.75);

   --borderRadius: 5px;
   --borderGray: 1px solid var(--colorGray);
   --borderWhite: 1px solid var(--colorWhite);
   --borderDottedGray: 1px dotted var(--colorGray);

}

.rowExtended {
   margin: 0;
   padding: 0;
}

.colExtended {
   padding: 0;
}

.rowItemExtended {
   padding: 0;
   margin: 0 -10px -10px -10px;
}