.documentationMarkdown {
   padding: 5px;
   min-height: 500px;
   max-height: 850px;
   overflow-y: scroll;
   background-color: white;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}