.referencesCol {
    margin: 0;
    padding: 5px;
}

.referencesCard {
}

.referencesCardHeader {
    padding: 5px;
    background-color: var(--colorWhite);
}

.referencesSaveButton {
    margin-left: 5px;
}

.referencesImagesRow {
    margin: 5px 0 0 0;
    border: var(--borderDottedGray);
    border-radius: var(--borderRadius);
}