.referencesCol {
    margin: 0;
    padding: 5px;
}

.referencesCard {
}

.referencesCardHeader {
    padding: 5px;
    background-color: var(--colorWhite);
}

.referencesFolderButton {
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.referencesLoadButton {
    border-radius: 0;
}

.referencesBackupButton {
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

.referencesImagesRow {
    margin: 5px 0 0 0;
    border: var(--borderDottedGray);
    border-radius: var(--borderRadius);
}