.bodyAccordion {
   margin: 0;
   border-bottom: var(--borderGray);
}

.bodyAccordionItem {
   border: none;
   padding: 0 0 5px 0;
   border-bottom: none;
   border-top: var(--borderGray);
}

.bodyAccordionControl {
   padding: 0;
   color: var(--colorBlack);
}

.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}

.bodyAccordionPanel {
   padding: 0;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}