.bodyAccordionItem {
   border: none;
   margin-top: 5px;
   border-bottom: none;
   border-top: var(--borderGray);
}

.bodyAccordionControl {
   padding: 0;
   color: var(--colorBlack);
}

.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}

.bodyAccordionPanel {
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}