.bodyAccordionItem {
   border: none;
   margin-top: 5px;
   border-top: var(--borderGray);
   border-bottom: none;
   /*border-bottom: var(--borderGray);*/
}

.bodyAccordionControl {
   padding: 5px 0 0 0;
   color: var(--colorBlack);
}

.bodyAccordionControl:hover {
   background-color: var(--colorWhite);
}

.bodyAccordionPanel {
   /*padding: 5px;*/
   /*margin: 0 0 50px 0;*/
   border: var(--borderGray);
   /*border-bottom: var(--borderGray);*/
   border-radius: var(--borderRadius);
}