.buildInputTextarea {
   padding: 0;
   margin: 0 0 5px 0;
}

.buildCreateButton {
   margin: 0 5px 0 0;
}

.buildMultiSelect {
   padding: 0;
   margin: 0;
}

.mantine-MultiSelect-pill {
   font-size: 11px;
   border-radius: 0.375rem;
}

.buildClearButton {
   margin: 0;
}