.runStepsStack {
   padding: 2.5px;
   min-height: 250px;
   max-height: 450px;
   border: var(--borderGray);
   background-color: white;
   margin: 0px -10px 0px -10px;
   border-radius: var(--borderRadius);
}

.runControlsRow {
   margin-bottom: -10px;
   padding: 5px 0px 0px 0px;
}

.runContinueButton {
   margin-left: 5px;
}