.runStepsStack {
   padding: 0;
   margin: 0 0 5px 0;
   min-height: 250px;
   max-height: 450px;
   background-color: white;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}

.runStartButton {
   margin: 0;
}

.runRetryButton {
   margin: 0 0 0 5px;
}

.runContinueButton {
   margin: 0 0 0 5px;
}

.runStopButton {
   margin: 0;
}

.runProgress {
   margin: 5px 0 0 0;
}