.runStepsStack {
   padding: 2px;
   min-height: 250px;
   max-height: 450px;
   margin: 0 -10px 0 -10px;
   background-color: white;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}

.runControlsRow {
   padding: 5px 0 0 0;
   margin: 0 -10px -10px -10px;
}

.runContinueButton {
   margin-left: 5px;
}