.stepsRow {
   padding: 5px;
   margin: 5px 0 0 0;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}

.stepsStatusCol {
}

.stepsStatusButton {
   color: var(--colorBlack);
   border: var(--borderGray);
   background-color: var(--colorGray)
}

.stepsCommandCol {
}

.stepsCommandButton {
   margin: 0 5px 0 0;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsFlagsCol {
}

.stepsFlagsButton {
   color: var(--colorBlack);
   border: var(--borderGray);
}