.stepsRow {
   padding: 5px;
   margin: 5px 0 0 0;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}

.stepsStatusCol {
   border-right: var(--borderGray);
}

.stepsStatusButton {
   margin: 2px;
   color: var(--colorBlack);
   border: var(--borderGray);
   background-color: var(--colorGray);
}

.stepsResultCol {
   border-right: var(--borderGray);
}

.stepsResultButton {
   margin: 2px;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsCommandCol {
   border-right: var(--borderGray);
}

.stepsCommandButton {
   margin: 2px;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsFlagsCol {
   border-right: var(--borderGray);
}

.stepsFlagsButton {
   margin: 2px;
   color: var(--colorBlack);
   border: var(--borderGray);
}