.stepsRow {
   padding: 0;
   margin: 5px 0 0 0;
   border: var(--borderGray);
   border-radius: var(--borderRadius);
}

.stepsResultCol {
   margin: 0;
   padding: 0;
   width: 30px;
   border-right: var(--borderGray);
}

.stepsResultButton {
   margin: 5px;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsStatusCol {
   margin: 0;
   padding: 0;
   border-right: var(--borderGray);
}

.stepsStatusButton {
   margin: 5px;
   padding: 2px;
   color: var(--colorBlack);
   border: var(--borderGray);
   background-color: var(--colorGray);
}

.stepsCommandCol {
   margin: 0;
   padding: 0;
   border-right: var(--borderGray);
}

.stepsCommandButton {
   margin: 5px;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsParameterText {
   padding-left: 5px;
   font-style: italic;
}

.stepsFlagsCol {
   margin: 0;
   padding: 0;
   border-right: var(--borderGray);
}

.stepsFlagsButton {
   margin: 5px;
   color: var(--colorBlack);
   border: var(--borderGray);
}

.stepsMessageCol {
   margin: 0;
   padding: 0;
   border-top: var(--borderGray);
}

.stepsMessageTextarea {
   margin: 5px;
   color: var(--colorBlack);
}